In [3]:
import pandas as pd

In [4]:
mylerz = r"csv_output\mylerz.csv"

df = pd.read_csv(mylerz, header=None)

df.columns = df.iloc[21]
df = df.iloc[22:].reset_index(drop=True)
df = df.dropna(how='all').dropna(axis=1, how='all')


print(df.head())

21 Tracking Number Reference Number            Account Manager  \
0   63775055655001          #121920  Bassant  Abouelela sadek
1   63775236174001          #127761  Bassant  Abouelela sadek
2   63775559677001          #133763  Bassant  Abouelela sadek
3   63775559677002          #126410  Bassant  Abouelela sadek
4   63775559677003          #126035  Bassant  Abouelela sadek

21 Activation Date   First Attempt Date            Customer Name  \
0       21/06/2021  10/28/2024 19:12:44      Norhan Abd El-Ghany
1       21/06/2021  11/20/2024 15:42:40                sara reda
2       21/06/2021  10/02/2024 17:32:56       dareen nagy wahdan
3       21/06/2021  10/02/2024 18:20:59  إسراء عبد الفتاح الفتاح
4       21/06/2021  10/02/2024 17:42:20            Haidi Mohamed

21 Customer Mobile                                            Address  \
0      01026675693   , سموحة، ش كمال الدين صلاح متفرع من ش فوزي مع...
1      01023224375   , 5 شارع موسى الكاظم محرم بك امتداد شارع المأ...
2      01159102402   الدور الاولي هتستلم في الشركة 90 الجنوبي, Sod...
3      01096655637   , المنصوره شارع تشكه جي الجامعه عند مطعم شيلت...
4      01092356202   , 39 شارع سوريا-رشدي-ابراج رجال الاعمال-الدور...

21         Pick-Up Date     Status Status Date Destination Hub  Origin Hub  \
0   28/10/2024 17:24:15  Delivered  05/11/2024      Alexandria  Alexandria
1   20/11/2024 15:42:17  Delivered  27/11/2024      Alexandria  Alexandria
2   01/10/2024 19:30:19   Returned  09/10/2024        East Hub  Alexandria
3   01/10/2024 19:30:19  Delivered  05/10/2024        Mansoura  Alexandria
4   01/10/2024 19:30:20  Delivered  02/10/2024      Alexandria  Alexandria

21      Payment Type   COD Rescheduled/Rejection Reason Special Notes  \
0   Cash-On-Delivery  3294         Customer unavailable           NaN
1   Cash-On-Delivery  2645         Customer unavailable           NaN
2   Cash-On-Delivery  4941             Customer refused           NaN
3   Cash-On-Delivery  3294   Customer phone unreachable           NaN
4   Cash-On-Delivery  3294                          NaN           NaN

21                                        Description Pickup Location  \
0           Title: Hot Air Brush Pro(  ), Quantity: 1            alex
1   Title: Infrared Steam Straightener( Sku12 ), Q...            alex
2           Title: Hot Air Brush Pro(  ), Quantity: 1            alex
3           Title: Hot Air Brush Pro(  ), Quantity: 1            alex
4           Title: Hot Air Brush Pro(  ), Quantity: 1            alex

21 Number of Attempts
0                   1
1                   1
2                   1
3                   2
4                   1

In [5]:
df.columns

Index(['Tracking Number', 'Reference Number', 'Account Manager',
       'Activation Date', 'First Attempt Date', 'Customer Name',
       'Customer Mobile', 'Address', 'Pick-Up Date', 'Status', 'Status Date',
       'Destination Hub', 'Origin Hub', 'Payment Type', 'COD',
       'Rescheduled/Rejection Reason', 'Special Notes', 'Description',
       'Pickup Location', 'Number of Attempts'],
      dtype='object', name=21)

In [88]:
df['Status'].unique()

array(['Delivered', 'Returned', 'In Progress', 'Undelivered', nan],
      dtype=object)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903 entries, 0 to 902
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Tracking Number               903 non-null    object
 1   Reference Number              902 non-null    object
 2   Account Manager               902 non-null    object
 3   Activation Date               902 non-null    object
 4   First Attempt Date            861 non-null    object
 5   Customer Name                 902 non-null    object
 6   Customer Mobile               902 non-null    object
 7   Address                       902 non-null    object
 8   Pick-Up Date                  902 non-null    object
 9   Status                        902 non-null    object
 10  Status Date                   902 non-null    object
 11  Destination Hub               902 non-null    object
 12  Origin Hub                    902 non-null    object
 13  Payment Type                  902 non-null    object
 14  COD                           902 non-null    object
 15  Rescheduled/Rejection Reason  418 non-null    object
 16  Special Notes                 901 non-null    object
 17  Description                   902 non-null    object
 18  Pickup Location               902 non-null    object
 19  Number of Attempts            902 non-null    object
dtypes: object(20)
memory usage: 141.2+ KB

In [90]:
df['Reference Number'] = df['Reference Number'].astype(str).str.replace('#', '', regex=True)

df = df.rename(columns={
    'Reference Number': 'OrderID',
    'Tracking Number': 'AWB',
    'Destination Hub': 'HUB'
})

In [91]:
df=df[['AWB','OrderID', 'Status Date','HUB']]

In [92]:
df['Status Date'] = pd.to_datetime(
    df['Status Date'],
    format="%d/%m/%Y",   # غيّرها حسب شكل التاريخ في بياناتك
    errors='coerce'
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903 entries, 0 to 902
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AWB          903 non-null    object
 1   OrderID      903 non-null    object
 2   Status Date  902 non-null    datetime64[ns]
 3   HUB          902 non-null    object
dtypes: datetime64[ns](1), object(3)
memory usage: 28.3+ KB

In [77]:
df

21                                     AWB OrderID Status Date         HUB
0                           63777124816001   63053  09/06/2025       Tanta
1                           63777132638001   63227  09/01/2025  Alexandria
2                           63777132648001   63183  09/01/2025  6th of Oct
3                           63777132677001   63311  09/02/2025  Alexandria
4                           63777144136001   63461  09/02/2025  6th of Oct
..                                     ...     ...         ...         ...
898                         63777276112001   66846         NaN     Menofia
899                         63777276118001   66842         NaN  Heliopolis
900                         63777276131001   66829         NaN    Mansoura
901                         63777276168001   66798         NaN    Mansoura
902  This is system generated excel sheet.     nan         NaN         NaN

[903 rows x 4 columns]

In [103]:
aramex = r"csv_output\aramex.csv"

df = pd.read_csv(aramex)

df = df.dropna(how='all').dropna(axis=1, how='all')


print(df.head())

           AWB Product Group Origin Country Origin Entity Destination Country  \
0  50539234981           DOM          Egypt           CAI               Egypt
1  50538937245           DOM          Egypt           CAI               Egypt
2  50540414691           DOM          Egypt           CAI               Egypt
3  50540288816           DOM          Egypt           CAI               Egypt
4  50542194275           DOM          Egypt           CAI               Egypt

  Destination Entity Pickup Date (Creation Date) Pickup Time (Creation Time)  \
0                CAI                  2025-09-03                       00:00
1                CAI                  2025-09-01                       18:34
2                CAI                  2025-09-11                       18:15
3                CAI                  2025-09-10                       18:10
4                CAI                  2025-09-21                       00:00

  Origin Received Date Record Status  ...  HFPU Problem Code  \
0  2025-09-03 18:25:00          Full  ...                NaN
1  2025-09-01 18:34:00          Full  ...                NaN
2  2025-09-11 18:15:00          Full  ...                NaN
3  2025-09-10 18:10:00          Full  ...                NaN
4  2025-09-21 18:30:00          Full  ...                NaN

             Attention Of RTRN Pickup Date  RTRN Delivery Date  \
0                Aya Said              NaN                 NaN
1              Omar Fayad              NaN                 NaN
2  اسراء صلاح حامد الاشهب              NaN                 NaN
3            Khloud Ghaly              NaN                 NaN
4            Mariam Nabil              NaN                 NaN

                                     HAWB Dimensions  Has electrical weight  \
0  <DIM><WF>3000</WF><P>1</P><L>0</L><W>0</W><H>0...                      1
1  <DIM><WF>3000</WF><P>1</P><L>0</L><W>0</W><H>0...                      1
2  <DIM><WF>3000</WF><P>1</P><L>0</L><W>0</W><H>0...                      1
3  <DIM><WF>3000</WF><P>1</P><L>0</L><W>0</W><H>0...                      1
4  <DIM><WF>3000</WF><P>1</P><L>0</L><W>0</W><H>0...                      1

   Destination city tier Has HFPU  New Deliv. Instr. Date  \
0                 Tier 1        0                     NaN
1                 Tier 1        0                     NaN
2                 Tier 1        0                     NaN
3                 Tier 1        0                     NaN
4                 Tier 1        0                     NaN

   New Deliv. Instr. Source
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN

[5 rows x 73 columns]

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908 entries, 0 to 907
Data columns (total 73 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   AWB                                   908 non-null    int64
 1   Product Group                         908 non-null    object
 2   Origin Country                        908 non-null    object
 3   Origin Entity                         908 non-null    object
 4   Destination Country                   908 non-null    object
 5   Destination Entity                    908 non-null    object
 6   Pickup Date (Creation Date)           908 non-null    object
 7   Pickup Time (Creation Time)           908 non-null    object
 8   Origin Received Date                  869 non-null    object
 9   Record Status                         908 non-null    object
 10  Pieces                                908 non-null    int64
 11  Weight                                908 non-null    float64
 12  Commodity Description                 908 non-null    object
 13  Account Number                        908 non-null    int64
 14  Account Name                          908 non-null    object
 15  Shipper Reference                     883 non-null    float64
 16  Shipper Reference2                    21 non-null     float64
 17  ConsigneeName                         908 non-null    object
 18  Consignee Reference 1                 6 non-null      float64
 19  Consignee Phone Number                908 non-null    int64
 20  Status Category                       908 non-null    object
 21  Status                                908 non-null    object
 22  Year                                  908 non-null    int64
 23  Month                                 908 non-null    object
 24  Delivery Status Action Date           755 non-null    object
 25  Delivery Status Comment 1             755 non-null    object
 26  Last Status Action Date               908 non-null    object
 27  Services                              703 non-null    object
 28  Origin City                           908 non-null    object
 29  Destination City                      908 non-null    object
 30  Chargeable Weight                     908 non-null    float64
 31  Customer Name                         908 non-null    object
 32  Shipper Name                          908 non-null    object
 33  Consignee Country                     908 non-null    object
 34  Consignee Address                     908 non-null    object
 35  COD Value                             908 non-null    float64
 36  COD Currency                          704 non-null    object
 37  COD Value USD                         703 non-null    float64
 38  Transferred Amount                    515 non-null    float64
 39  Transferred Currency                  515 non-null    object
 40  Transferred Amount USD                515 non-null    float64
 41  Origin Departure Date                 846 non-null    object
 42  Destination Country Arrival Date      846 non-null    object
 43  1st Delivery Attempt                  270 non-null    object
 44  1st Deliv. Atpt. Problem Code         270 non-null    object
 45  2nd Delivery Attempt                  103 non-null    object
 46  2nd Deliv. Atpt. Problem Code         103 non-null    object
 47  3rd Delivery Attempt                  39 non-null     object
 48  3rd Deliv. Atpt. Problem Code         39 non-null     object
 49  Last Attempted Delivery Action Date   270 non-null    object
 50  Last Attempted Delivery Problem Code  270 non-null    object
 51  Total Out for Deliveries              908 non-null    int64
 52  Last Out For Delivery Date            831 non-null    object
 53  First Out For Delivery                831 non-null    object
 54  Total Delivery Attempts               908 non-null    int64
 55  Expected Delivery Date                908 non-null    object
 56  SLA                                   908 non-null    int64
 57  Transit Days                          755 non-null    float64
 58  Return AWB Number                     45 non-null     float64
 59  Last Return to Sender                 45 non-null     object
 60  Return Problem Code                   38 non-null     object
 61  Payment Type                          908 non-null    object
 62  HFPU Action Date                      5 non-null      object
 63  HFPU Problem Code                     5 non-null      object
 64  Attention Of                          908 non-null    object
 65  RTRN Pickup Date                      36 non-null     object
 66  RTRN Delivery Date                    29 non-null     object
 67  HAWB Dimensions                       890 non-null    object
 68  Has electrical weight                 908 non-null    int64
 69  Destination city tier                 698 non-null    object
 70  Has HFPU                              908 non-null    int64
 71  New Deliv. Instr. Date                38 non-null     object
 72  New Deliv. Instr. Source              38 non-null     object
dtypes: float64(11), int64(10), object(52)
memory usage: 518.0+ KB

In [105]:
df['Status'].unique()

array(['Paid', 'Delivered', 'Data Received', 'At Destination Facility',
       'Returned', 'Still At Origin', 'Out For Delivery',
       'Address Acquired', 'Customer Has Refused The Shipment',
       'Held For Pickup'], dtype=object)

In [106]:
df['Shipper Reference'] = df['Shipper Reference'].astype(str)
df['AWB'] = df['AWB'].astype(str)

df = df.rename(columns={
    'Shipper Reference': 'OrderID',
    'Last Status Action Date': 'Status Date',
    'Destination City' : 'City'
})
df['Status Date'] = pd.to_datetime(df['Status Date'], errors='coerce').dt.strftime('%d/%m/%Y')
df['Status Date'] = pd.to_datetime(
    df['Status Date'],
    format="%d/%m/%Y",   # غيّرها حسب شكل التاريخ في بياناتك
    errors='coerce'
)

In [107]:
df=df[['AWB','OrderID', 'Status Date','City']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908 entries, 0 to 907
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AWB          908 non-null    object
 1   OrderID      908 non-null    object
 2   Status Date  908 non-null    datetime64[ns]
 3   City         908 non-null    object
dtypes: datetime64[ns](1), object(3)
memory usage: 28.5+ KB

In [108]:
bosts = r"csv_output\bosta.csv"

df = pd.read_csv(bosts)

df = df.dropna(how='all').dropna(axis=1, how='all')


print(df.head())

   Tracking Number  Type            Created At Expected Pickup Date  \
0          9974930  SEND  09-23-2025, 14:20:21                  NaN
1         16963369  SEND  09-23-2025, 14:20:21                  NaN
2         61774061  SEND  09-24-2025, 10:22:05                  NaN
3         19587351  SEND  09-23-2025, 09:19:51                  NaN
4         14682945  SEND  09-23-2025, 09:08:17                  NaN

         Picked-Up Date Expected Delivery Date Expected Return Date  \
0  09-24-2025, 15:56:13                    NaN                  NaN
1  09-24-2025, 15:56:13                    NaN                  NaN
2  09-24-2025, 15:56:13                    NaN                  NaN
3  09-24-2025, 01:37:35   09-25-2025, 23:59:59                  NaN
4  09-23-2025, 19:13:56   09-24-2025, 23:59:59                  NaN

           Scheduled At     Current Hub Business Reference Number  ...  \
0                   NaN             NaN             chandbe:66374  ...
1                   NaN             NaN             chandbe:66382  ...
2                   NaN             NaN                    #66482  ...
3  09-25-2025, 23:59:59      Imbaba Hub             chandbe:66271  ...
4  09-25-2025, 03:00:00  Mohandseen Hub             chandbe:66331  ...

  Number Of attempts   Consignee Name Consignee phone  \
0                  0      Rabab Salim    201016081705
1                  0     Walaa Khaled    201061867086
2                  0    Shahd Mohamed    201069316492
3                  1  مروه محمود بدوي    201001106221
4                  0      Mayar Hatem    201099769684

                                  DropOff First Line  DropOff City Cod Amount  \
0  فيلا ١٧١ بنفسج ٩ التجمع الاول- الدور التاني شق...         Cairo        0.0
1  العبور الحي التاسع شارع أمينة الصاوي بلوك 1807...         Cairo        0.0
2  7شارع المشربيه المريوطية فيصل برج عباد الرحمن ...          Giza        0.0
3  وراق العرب امتداد شارع الوحده امام مستشفي الور...          Giza     2601.0
4  القاهرة - المهندسين - 26 ش الكروم  بجوار مسجد ...         Cairo     2601.0

                                               Notes  \
0                           Customer Notes: no notes
1                           Customer Notes: no notes
2  تبديل مع اوردر 63724 ضمن ال 30 يوم و تم دخوله ...
3                           Customer Notes: no notes
4  Customer Notes: التسليم داخل البنك من 8ص ل 2م ...

                                         Description Old Type  \
0  فرشاة التكثيف الاحترافية  2 في 1 | النسخة المط...      NaN
1  فرشاة التكثيف الاحترافية  2 في 1 | النسخة المط...      NaN
2                                  Hot Air Brush Pro      NaN
3  فرشاة التكثيف الاحترافية  2 في 1 | النسخة المط...      NaN
4  فرشاة التكثيف الاحترافية  2 في 1 | النسخة المط...      NaN

   Latest Exception Reason
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN

[5 rows x 24 columns]

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1675 entries, 0 to 1674
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Tracking Number            1675 non-null   int64
 1   Type                       1675 non-null   object
 2   Created At                 1675 non-null   object
 3   Expected Pickup Date       69 non-null     object
 4   Picked-Up Date             1506 non-null   object
 5   Expected Delivery Date     1399 non-null   object
 6   Expected Return Date       104 non-null    object
 7   Scheduled At               1559 non-null   object
 8   Current Hub                1569 non-null   object
 9   Business Reference Number  1673 non-null   object
 10  Updated at                 1675 non-null   object
 11  Delivery State             1675 non-null   object
 12  Delivered at               1489 non-null   object
 13  Confirmed Delivery At      1430 non-null   object
 14  Number Of attempts         1675 non-null   int64
 15  Consignee Name             1675 non-null   object
 16  Consignee phone            1675 non-null   int64
 17  DropOff First Line         1675 non-null   object
 18  DropOff City               1675 non-null   object
 19  Cod Amount                 1675 non-null   float64
 20  Notes                      1549 non-null   object
 21  Description                1605 non-null   object
 22  Old Type                   104 non-null    object
 23  Latest Exception Reason    243 non-null    object
dtypes: float64(1), int64(3), object(20)
memory usage: 314.2+ KB

In [110]:
df['Tracking Number'] = df['Tracking Number'].astype(str)

df = df.rename(columns={
    'Delivery State': 'Status',
    'Tracking Number': 'AWB',
    'Business Reference Number': 'OrderID',
    'Updated at': 'Status Date',
    'DropOff City' : 'City'
})

In [111]:
df['Status Date'] = pd.to_datetime(df['Status Date'], errors='coerce').dt.strftime('%d/%m/%Y')
df['Status Date'] = pd.to_datetime(
    df['Status Date'],
    format="%d/%m/%Y",   # غيّرها حسب شكل التاريخ في بياناتك
    errors='coerce'
)

In [112]:
df=df[['AWB','OrderID', 'Status','Status Date','City']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1675 entries, 0 to 1674
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AWB          1675 non-null   object
 1   OrderID      1673 non-null   object
 2   Status       1675 non-null   object
 3   Status Date  1675 non-null   datetime64[ns]
 4   City         1675 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 65.6+ KB

In [147]:
warehouse = r"csv_output\warehouse.csv"

df = pd.read_csv(warehouse)

df = df.drop('Month',axis=1)
df = df.rename(columns={
   'Shipment id':'AWB',
   'Date': 'Creation Date',
})



print(df.tail())

            AWB Creation Date Shipped With
25256  22643955     9/28/2025        bosta
25257  44530907     9/28/2025        bosta
25258  77210929     9/28/2025        bosta
25259  12973910     9/28/2025        bosta
25260  64827303     9/28/2025        bosta

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25261 entries, 0 to 25260
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AWB            25261 non-null  object
 1   Creation Date  25261 non-null  object
 2   Shipped With   25260 non-null  object
dtypes: object(3)
memory usage: 592.2+ KB

In [149]:
def parse_date(x):
    for fmt in ("%m/%d/%Y", "%m/%d/%y", "%Y-%m-%d %H:%M:%S"):
        try:
            return pd.to_datetime(x, format=fmt)
        except (ValueError, TypeError):
            continue
    return pd.NaT

df['Creation Date'] = df['Creation Date'].apply(parse_date).dt.normalize()



df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25261 entries, 0 to 25260
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AWB            25261 non-null  object
 1   Creation Date  25261 non-null  datetime64[ns]
 2   Shipped With   25260 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 592.2+ KB